* {
  box-sizing: border-box;
}
.header {
  background-color: #fff8f3;
  font-family: Comfortaa;
}
.container {
  max-width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.header__list {
  display: flex;
  gap: 20px;
}
.header__call {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}
.header__call::before {
  content: "";
  position: absolute;
  background-image: url(../img/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -5px;
}
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
.burger span {
  height: 1px;
  color: #7b6152;
  width: 100%;
}
