@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .header__img-l {
    width: 655px;
  }
  .header__img {
    left: 300px;
  }
}
@media (max-width: 900px) {
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__bottom-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .footer__bottom-social {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .header__call::before {
    width: 14px;
    height: 14px;
    left: -14px;
    top: -2px;
    background-size: cover;
  }
  .header__item {
    font-size: 10px;
  }
  .footer__item {
    font-size: 10px;
  }
  .top__content {
    width: 230px;
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
    width: 236px;
  }
  .top__text {
    font-size: 10px;
    margin-bottom: 20px;
    width: 230px;
  }
  .header__img {
    left: 180px;
  }
}
@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__list {
    width: 153px;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-200%);
    transition: transform 0.5s ease;
  }
  .burger__active {
    transform: translateX(0%);
  }
  .burger {
    display: flex;
    order: 1;
  }
}
@media (max-width: 500px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 22px;
  }
  .footer__item {
    font-size: 14px;
  }
  .header__img-l {
    width: 309px;
    left: 167px;
  }
  .top__content {
    width: 180px;
  }
  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .header__buy {
    font-size: 10px;
    padding: 14px 41px;
    width: 100px;
    height: 35px;
  }
  .top {
    padding: 30px 0 50px;
  }
}
@media (max-width: 360px) {
  .header__img-l {
    width: 185px;
  }
  .header__img {
    left: auto;
    right: 0;
  }
  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }
  .top__title {
    font-size: 18px;
  }
  .top__text {
    font-size: 10px;
  }
}
