@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .header__img-l {
    width: 655px;
  }
  .header__img {
    left: 300px;
  }
  .about__text {
    max-width: 280px;
  }
  .about__list {
    padding-left: 20px;
  }
  .section__inner {
    grid-template-columns: 300px auto;
    gap: 20px;
  }
  .products__text {
    max-width: 300px;
  }
  .steps__item {
    width: 300px;
    gap: 30px;
  }
  .steps__descr,
  .steps__text,
  .steps__title {
    width: 300px;
  }
  .team__info,
  .team__text,
  .team__title {
    width: 290px;
  }
  .feedback__item-text {
    width: 264px;
  }
  .feedback__item-video,
  .feedback__item {
    width: 380px;
  }
  .feedback__item {
    gap: 15px;
  }
  .feedback__buy {
    right: 120px;
  }
  .certificate__img {
    width: 280px;
  }
  .certificates__slider {
    width: 350px;
    margin-top: 50px;
  }
  .promo__text {
    width: 629px;
    padding-left: 80px;
    margin-right: 113px;
  }
  .contacts__img {
    width: 335px;
  }
  .contacts__inner {
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__bottom-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .footer__bottom-social {
    justify-content: center;
  }
  .section__title {
    font-size: 15px;
  }
  .products__item-img {
    width: 190px;
  }
  .product__item-price {
    font-size: 12px;
    margin-top: 6px;
  }
  .product__item-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .products__text {
    font-size: 10px;
  }
  .products__info {
    width: 200px;
  }
  .section__inner {
    grid-template-columns: 250px auto;
  }
  .courses__item-img,
  .courses__item-picture {
    width: 195px;
  }
  .team {
    margin-top: 185px;
  }
  .team__item {
    width: 142px;
  }
  .team__img {
    width: 142px;
  }
  .team__item-box {
    right: -100px;
    bottom: 55px;
    padding: 6px 9px 10px;
    width: 109px;
  }
  .team__item-name {
    font-size: 8px;
  }
  .team__item-descr {
    font-size: 7px;
  }
  .team__text {
    width: 200px;
  }
  .team__item {
    height: 156px;
  }
  .team__content {
    gap: 30px 53px;
  }
  .feedback {
    padding-right: 40px;
    padding-left: 40px;
  }
  .feedback__svg,
  .feedback__item-social {
    width: 15px;
  }
  .feedback__item-video,
  .feedback__item,
  .feedback__item-img {
    width: 200px;
  }
  .feedback__item {
    align-items: start;
  }
  .feedback__item {
    gap: 11px;
  }
  .feedback__buy {
    right: 120px;
  }
  .feedback__item-name {
    font-size: 12px;
  }
  .feedback__item-text {
    font-size: 10px;
    width: 250px;
  }
  .feedback__buy {
    font-size: 8px;
    padding: 15px 20px;
    right: 305px;
  }
  .feedback__text {
    width: 200px;
  }
  .certificate__img {
    width: 200px;
  }
  .certificates__slider {
    width: 300px;
    margin-top: 25px;
  }
  .certificates__text {
    max-width: 200px;
  }
  .promo {
    height: 150px;
  }
  .promo__text {
    font-size: 15px;
    margin-right: 50px;
  }
  .promo__linck {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .header__call::before {
    width: 14px;
    height: 14px;
    left: -14px;
    top: -2px;
    background-size: cover;
  }
  .header__item {
    font-size: 10px;
  }
  .footer__item {
    font-size: 10px;
  }
  .top__content {
    width: 230px;
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
    width: 236px;
  }
  .top__text {
    font-size: 10px;
    margin-bottom: 20px;
    width: 230px;
  }
  .header__img {
    left: 180px;
  }
  .about__text {
    max-width: 200px;
    font-size: 10px;
  }
  .about__list {
    padding-left: 35px;
    padding-top: 60px;
    gap: 0 10px;
  }
  .about__title {
    font-size: 15px;
  }
  .about__item-text {
    font-size: 6px;
  }
  .about__img-1 {
    width: 120px;
    height: 120px;
  }
  .about__img-2 {
    width: 191px;
    height: 195px;
  }
  .about__img-3 {
    width: 120px;
    height: 120px;
  }
  .section__inner {
    grid-template-columns: 200px auto;
  }
  .steps__title {
    width: 298px;
  }
  .steps__item {
    width: 200px;
    gap: 20px;
  }
  .steps__item-img {
    width: 85px;
    height: 150px;
    overflow: clip;
  }
  .steps__inner {
    margin: 0;
    display: flex;
    gap: 20px;
  }
  .steps__descr,
  .steps__text,
  .steps__title {
    width: 190px;
  }
  .steps__title {
    font-size: 15px;
  }
  .steps__item-text {
    font-size: 8px;
  }
  .steps__text {
    font-size: 10px;
    padding-top: 15px;
  }
  .products__content {
    gap: 30px;
  }
  .courses__title-img {
    left: -1px;
    padding: 6px;
  }
  .courses__time {
    left: -1px;
    padding: 6px;
  }
  .courses__price {
    padding: 16px 5px;
  }
  .certificates__slider {
    width: 250px;
    margin-top: 20px;
  }
  .promo__text {
    margin-right: -85px;
  }
  .contacts__img {
    width: 187px;
  }
  .contacts__inner {
    gap: 15px;
  }
  .form {
    width: 440px;
    height: 300px;
  }
  .form__btn {
    margin-top: 6px;
  }
  .form__title {
    font-size: 15px;
    margin-bottom: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__list {
    width: 153px;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-200%);
    transition: transform 0.5s ease;
    z-index: 99;
  }
  .burger__active {
    transform: translateX(0%);
  }
  .burger {
    display: flex;
    order: 1;
  }
  .section__inner {
    display: block;
  }
  .products__info {
    margin-bottom: 30px;
    margin: 30px auto;
    text-align: center;
    width: 300px;
  }
  .products__text {
    width: 300px;
  }
  .steps__descr {
    margin: 0 auto;
    text-align: center;
  }
  .products {
    padding-top: 50px;
  }
  .team__info {
    margin-bottom: 30px;
    margin: 30px auto;
    text-align: center;
    width: 300px;
  }
  .feedback__item-img {
    width: 200px;
  }
  .feedback__info {
    text-align: center;
    margin: 30px auto;
    width: 300px;
  }
  .feedback__text {
    width: 300px;
    margin-bottom: 30px;
  }
  .certificate__img {
    width: 285px;
  }
  .certificates__slider {
    width: 330px;
    margin-top: 20px;
  }
  .promo {
    padding: 67px 0;
  }
  .promo__text {
    margin-right: 80px;
    width: 345px;
  }
}
@media (max-width: 500px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 22px;
  }
  .footer__item {
    font-size: 14px;
  }
  .header__img-l {
    width: 309px;
    left: 167px;
  }
  .top__content {
    width: 180px;
  }
  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .header__buy {
    font-size: 10px;
    padding: 14px 41px;
    width: 100px;
    height: 35px;
  }
  .top {
    padding: 30px 0 50px;
  }
  .about__text {
    width: 172px;
  }
  .about__list {
    padding-left: 17px;
    gap: 0 5px;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .about__item-text {
    display: none;
  }
  .about__img-1 {
    width: 80px;
    height: 80px;
  }
  .about__img-2 {
    width: 140px;
    height: 140px;
  }
  .about__img-3 {
    width: 80px;
    height: 80px;
  }
  .products__content {
    margin: auto;
    gap: 100px 30px;
  }
  .products__item {
    width: 200px;
    height: 345px;
  }
  .steps__descr {
    margin: 0 auto;
    text-align: center;
  }
  .steps__item-text {
    font-size: 8px;
  }
  .steps__text {
    max-width: 300px;
  }
  .team__item-box {
    right: -100px;
    bottom: 55px;
    padding: 6px 9px 10px;
    width: 109px;
  }
  .team__item {
    height: 142px;
  }
  .team__content {
    gap: 30px 0;
  }
  .team__item-name {
    font-size: 8px;
  }
  .team__item-descr {
    font-size: 7px;
  }
  .team__info {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
  .courses__content {
    grid-template-columns: auto;
    gap: 285px 0;
    margin-bottom: 100px;
  }
  .courses__item-picture {
    width: 255px;
    height: 345px;
  }
  .courses__title-img {
    left: -1px;
    padding: 15px;
    font-size: 11px;
  }
  .courses__time {
    padding: 7px 10px;
    left: -1px;
    top: 60%;
    font-size: 11px;
  }
  .courses__price {
    right: -45%;
    padding: 19px 10px;
    font-size: 11px;
  }
  .feedback__item-text {
    width: 209px;
  }
  .feedback__buy {
    right: 360px;
    bottom: -2px;
  }
  .certificate__img {
    width: 200px;
  }
  .certificates__slider {
    width: 255px;
    margin-top: 20px;
  }
  .promo__text {
    margin-right: 55px;
    padding-left: 50px;
    width: 286px;
  }
  .promo__linck {
    font-size: 8px;
    padding: 10px 18px;
  }
  .promo {
    padding: 42px 0;
  }
  .contacts__img {
    display: none;
  }
  .form {
    width: 440px;
  }
  .form__btn {
    font-size: 8px;
    padding: 11px 11px;
  }
}
@media (max-width: 400px) {
  .products__item {
    width: 150px;
    height: 285px;
  }
  .products__content {
    gap: 120px 7px;
    padding-bottom: 150px;
  }
  .products__item-img {
    width: 141.608px;
    height: 176.7px;
  }
  .product__item-text {
    text-align: center;
  }
  .courses__item {
    align-items: center;
  }
  .products__text {
    width: 279px;
    padding-bottom: 20px;
  }
  .steps__text {
    width: 204px;
  }
  .steps__item {
    width: 155px;
  }
  .steps__item-text {
    margin-top: 25px;
  }
  .team__content {
    grid-template-columns: auto;
  }
  .team__img {
    width: 204px;
  }
  .team__item {
    height: 204px;
  }
  .team__item-box {
    padding: 4px 14px;
    width: 151px;
    bottom: 70px;
    right: -155px;
  }
  .team__item-name {
    font-size: 12px;
  }
  .team__item-descr {
    font-size: 10px;
  }

  .promo__text {
    margin-right: 55px;
    padding-left: 10px;
    width: 216px;
  }
}
@media (max-width: 360px) {
  .header__img-l {
    width: 114px;
  }
  .header__img {
    left: auto;
    right: 0;
  }
  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }
  .top__title {
    font-size: 18px;
  }
  .top__text {
    font-size: 10px;
  }
  .about {
    padding: 0;
    margin: 0;
  }
  .about__text {
    font-size: 8px;
    min-width: 234px;
  }
  .about__list {
    padding-left: 12px;
    margin-right: 12px;
    gap: 400px;
    align-items: flex-end;
    padding-top: 0;
  }
  .feedback__item {
    grid-template-columns: auto;
    text-align: center;
  }
  .feedback__buy {
    position: absolute;
    bottom: 0;
    right: 580px;
  }
  .feedback__slider {
    margin: 0 auto;
    height: 450px;
  }
  .feedback__item-img {
    width: 250px;
    margin: 0 auto;
  }
  .feedback__item-text {
    width: 250px;
  }
  .certificate__img {
    width: 200px;
  }
  .certificates__slider {
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
  }
}
